<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bearer</key>
	<string>Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiYTc5YjRhNTVlYWZkMDk0ZTZiZTIzYTkyMmVmMjE0OCIsInN1YiI6IjY0ODg5M2I3YmYzMWYyNTA1ODgzNGI5MCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.DdhCv-SeVIp7ViVakZoT6FkUMLte3151GjbFrzh4cL4</string>
</dict>
</plist>
